<div class="nav"> 
<a class="small" href = "/" style = "text-decoration: none;"> Home</a>
<a href = "/postimage" style = "text-decoration: none;">Post</a>
<a href = "/home" style = "text-decoration: none;">Posts</a>



<a href = "/registration" style = "text-decoration: none;">Register</a>
{{#if logged}}
<a id ="logout" style = "text-decoration: none;">Log Out</a>
{{else}}

<a href = "/login" style = "text-decoration: none;">Login</a>
{{/if}}

<input id ="text-info" type="text" placeholder="Search Posts">
<button id="button_search"></button>


</div>
<br />
<hr>