<header>
    <h1>Login</h1>
</header>



<div id="center">
    <form>
        <label>Username:</label>
        <br />
        <input type="text">

        <br />

        <label id="passwordA">Password:</label>
        <br />
        <input type="password">

        <br />

        <label id="PasswordD">Confirm Password:</label>
        <br />
        <input type="password">

        <br />
        <button type="submit" id="button">Submit</button>

        <br />
        <label> dont have an account? make one </label>
        <href >here</href>
    </form>
</div>