<header>
    <h1>Post Image</h1>
</header>

<form>

    <label>Post Title:</label>
    <br />
    <input type="text">
    <br />
    <label>Post Description:</label>
    <br />
    <input type="text">
    <br />
    <br />
    <input type="file">
    <br />

    <input type="checkbox">
    </label> I accept the
    <a href="#">Acceptable use policy for uploading images</a>

    <br />
    <button type=submit>Submit Image</buttontype></button>

</form>