<header>
    <h1>Post Image</h1>
</header>

<form method="POST" enctype="multipart/form-data" 
action="/posts/createPost">

    <label>Post Title:</label>
    <br />
    <input type="text" name = "title">
    <br />
    <label >Post Description:</label>
    <br />
    <input type="text" name = "description" >
    <br />
    <br />
    <input type="file"name = "submitImage">
    <br />

    <input required type="checkbox">
    </label> I accept the
    <a href="#" style = "color:white">Acceptable use policy for uploading images</a>

    <br />
    <button type=submit>Submit Image</buttontype></button>

</form>