<div id="content">
    <header>
        <h1>
            Registration
        </h1>
    </header>

    <div>
        <form id="icey">
            <br />
            <label>Email:</label>
            <br />
            <input type="email" required>
            <br />
            <label id="passwordA">Password:</label>
            <br />
            <input type="password">
            <br />
            <label id="passwordD">Confirm Password:</label>
            <br />
            <input id="passwordD1" type="password">
            <br />
            <label>Confirm you are 13 years of age or older</label>
            <input type="checkbox" required>

            <br />

            <label>I accept the </label>
            <a href="#">TOS and Privacy Rules</a>
            <input id="box" type="checkbox" required>




            <br>
            <button type="submit" id="button1">Submit Registration</button>
    </div>
    </form>




    <div id="tester">
        <ul>
            <h3 id="title">Password Requirements</h3>
            <label id="A" class="invalid">Must begin with a letter</label>
            <br />
            <label id="B" class="invalid">Must be 3 or more letters</label>
            <br />
            <label id="C" class="invalid">Must be 8 or more characters</label>
            <br />
            <label id="D" class="invalid">Contain one uppercase letter</label>
            <br />
            <label id="E" class="invalid">Contain one special character</label>
            <br />
            <label id="1" class="invalid">Passwords Match</label>
        </ul>
    </div>