<body>
    <header>
        <h1>
            Image Viewer
        </h1>
    </header>

    <form>
        <section>
            <b>Name of Image</b>
        </section>

        <div style="height: 100px;">
        </div>


        <section>
            <b>Image Author</b>
            <div></div>
        </section>

        <div style="height: 100px;">
        </div>


        <section>
            <b>Time of Creation</b>
            <div></div>
        </section>

        <div style="height: 100px;">
        </div>

        <section>
            <b>Image</b>
            <br />
            <img src="Images/Trixx.jpeg" alt="This image is not available" sizes="50px">
        </section>

    </form>